html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

/* ✅ 지도 위로 폼이 올라오게 */
#propertyFormLayer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}
#propertyFormLayer > div {
  z-index: 10000;
}
